{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ArtAlike</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Permanent+Marker:400' rel='stylesheet' type='text/css'>

<!-- Navbar CSS -->
<link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>

<!-- Glyphicon CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- octicon-->
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<!--css home-->
<link rel="stylesheet" href="{% static 'my_app/home.css' %}">

  </head>

<body data-spy="scroll" data-target="#navbar-example" data-offset="0">
  <nav id="navbar-example" class="fill" style="font-size:17px">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <div class="float-right" style="padding: 0 60px; display:block;">
          <li><span class="glyphicon glyphicon-user" style="color:white"></span></li>
          <li><a href="#">Login</a></li>
        </div>
      </ul>
    </nav>
<main>
  <section class="gtd" id="home">
    <div class="container animated fadeInDown slow">
        <h1 class="gtd-r1">Art</h1>
        <h1 class="gtd-r1">Alike</h1>
      </div>
  </section>
</main>
<section id="about" class="py-5 px-2" >
  <h2 class="h1-responsive font-weight-bold text-center mb-5" style="font-family:segoe print;">About</h2><br>
  <div class="container" style="padding:0px 0px 50px 110px;font-family:segoe print;">
    <div class="row">
      <div class="col-lg-7 text-lg-left">
        <div class="row">
          <div class="col-1">
            <span class="iconify" data-icon="octicon:upload-16" data-inline="false" style="font-size:30px;position:relative;top:20px;"></span>
          </div>
          <div class="col-11">
              <h3>Upload</h4>
              <p>Upload all your favourite art works here.</p><br>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <span class="iconify" data-icon="mdi:comment-quote" data-inline="false" style="font-size:30px;position:relative;top:20px;"></span>
          </div>
          <div class="col-11">
              <h3>Comment</h4>
              <p>Comment on other's works.</p><br>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <span class="iconify" data-icon="mdi:lightbulb-on" data-inline="false" style="font-size:30px;position:relative;top:20px;"></span>
          </div>
          <div class="col-11">
              <h3>Recieve</h4>
              <p>Recieve recommendations and tips from similar minded people.</p><br>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <span class="iconify" data-icon="mdi:account-multiple-plus-outline" data-inline="false" style="font-size:30px;position:relative;top:20px;"></span>
          </div>
          <div class="col-11">
              <h3>Join</h4>
              <p>Join a community of like minded people.</p><br>
          </div>
        </div>
      </div>
      <div class="col-lg-5 text-lg-left">
        <div class="row">
          <div class="col-1">
            <span class="iconify" data-icon="mdi:account-heart-outline" data-inline="false" style="font-size:30px;position:relative;top:20px;right: 10px;"></span>
          </div>
          <div class="col-11">
              <h3>Follow</h4>
              <p>Follow your favorite artists and get inspired.</p><br>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <span class="iconify" data-icon="mdi:content-save-move" data-inline="false" style="font-size:30px;position:relative;top:20px;right: 10px;"></span>
          </div>
          <div class="col-11">
              <h3>Save</h4>
              <p>Save posts for future reference.</p><br>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <span class="iconify" data-icon="mdi:heart-outline" data-inline="false" style="font-size:30px;position:relative;top:20px;right: 10px;"></span>
          </div>
          <div class="col-11">
              <h3>Like</h4>
              <p>Like posts to show your support.</p><br>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <span class="iconify" data-icon="mdi:sticker-emoji" data-inline="false" style="font-size:30px;position:relative;top:20px;right: 10px;"></span>
          </div>
          <div class="col-11">
              <h3>Express</h4>
              <p>A podium to express you talents.</p><br>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<footer class="footer">
    <div class="container text-center" style="padding: 10px 0px 10px 0px">
      <h3>Developed By:</h3>
    </div>
    <div class="" style="padding: 0px 0px 100px 10px">
      <div class="col-lg-6 text-lg-right">
        <div class="row">
          <div class="col-6" style="position: relative; left: 250px; padding: 10px 0px 0px 0px">
            R. Faerie Mattins
          </div>
        </div>
        <div class="row">
          <div class="col-7" style="position: relative; left: 300px; padding: 10px 0px 0px 0px">
            <span class="iconify" data-icon="mdi:gmail" data-inline="false"></span>
            faeriemattins73191817@gmail.com
          </div>
        </div>
      </div>
      <div class="col-lg-5 text-lg-left">
        <div class="row">
          <div class="col-6" style="position: relative; left: 110px; padding: 10px 0px 0px 0px">
            S. Srivarshan
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="position: relative; left: 70px; padding: 10px 0px 0px 0px">
            <span class="iconify" data-icon="mdi:gmail" data-inline="false"></span>
            srivarshan02@gmail.com
          </div>
        </div>
      </div>
    </div>



  </footer>
</body>
</html>
